
html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    border: 0;
    margin: 0;
}

input, button {
    font-size: 100%;
    font-family: inherit;
}

body {
    background-image: url("/images/pattern-bg.png");
    background-position: center top;
    background-repeat: no-repeat;
    font-family: Rubik, sans-serif;
     min-height: 100vh;
}

.pad-ctn {
    padding: 0 1.5rem 0 1.5rem;
    position: relative;
}

#map {
    height: 40vh;
    z-index: -1;
    height: calc(100vh - 27vh);
}
