.header {
    width: 100%;
    padding: 2rem;
}

.header__title {
    color: white;
    font-family: Rubik,  sans-serif;
    text-transform: capitalize;
    text-align: center;
    font-size: 1.5rem;
}
